body {
	background-color: #e6e6ff;
}

#wrapper { 
	padding: 50px 0;
    border: 10px solid #666666;
    text-align: center;
	position: absolute; 
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

h1 {
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 30px; 
	font-weight: bold;
	color: #000000;
	}

p {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: #000000;
	}

a:link {
    color: #000000;
}

a:visited  {
    color: #660066;
}

a:active, a:hover {
    color:  #000066;
}